{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Article Create</title>
</head>
<body>
    <h1>New Article</h1>
    <div class="form">
        <form action="/article/add/" method="post">
            {% csrf_token %}
            <div class="form_row" for="title">
                <lable for="title">Title</lable>
                <input type="text" id="title" name="title">
            </div>
            <div class="form_row">
                <lable for="text">Text</lable>
                <textarea name="text" id="text" cols="30" rows="10"></textarea>
            </div>
            <div class="form_row">
                <lable for="author">Author</lable>
                <input type="text" id="author" name="author">
            </div>
            <div class="form_row">
                <input type="submit">
            </div>
        </form>
    </div>
</body>
</html>