{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Index page</title>
</head>
<body>
    <div class="container">
     <a href="/article/add">Add Article</a>      
        <h1>Index page</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia ea officia inventore id explicabo, maxime omnis expedita, ex aliquam vel voluptatem dolorum modi. Mollitia placeat natus recusandae maiores magnam minus sunt saepe? Voluptates fugiat non, eveniet debitis repudiandae officiis suscipit.</p>
    </div>
</body>
</html>